@import 'partials/clearfix';
@import 'partials/general_styles';
@import 'partials/reset';
$small:'only screen and (min-width: 200px) and (max-width: 599px)';
$medium:'only screen and (min-width: 600px) and (max-width: 899px)';
$large:'(max-width: 900px)';
@mixin small{
  @media #{small}{
    @content;
  }
}
@mixin medium{
  @media #{medium}{
    @content;
  }
}
@mixin large{
  @media #{large}{
    @content;
  }
}
body {
  h1 {
    background-color: #fff;
  }
  .headerBar{
    display:flex;
    justify-content:space-between;
    @include respond-to('medium'){
      .logo{
        display:none;
      }
      background: url('/assets/header_bg.svg') no-repeat center, url('/assets/logo.svg') no-repeat center;
      background-color: #fff;
    }
    @include respond-to('large'){
      .logo{
        display:none;
      }
      background: url('/assets/header_bg.svg') no-repeat center, url('/assets/logo.svg') no-repeat center;
      background-color: #fff;
    }
    background-color: #fff;
    .buttonPlus{
      width:50px;
      margin:10px;
      font-size: 400%;
      color:red;
      border-style:solid;
      border-color:orange;
      text-align:center;
      @include respond-to('medium'){
      }
      @include respond-to('large'){
      }
    }
    .buttonPlus:hover {
      background-color: orange;
      color:white;
    }
  }
  .buttonBar{
    display:flex;
    .jButton{
      background-color:#303030;
      flex: 1 1 33.33333%;
      font-size: 200%;
      color:grey;
    }
    .jButton:hover {
    color:orange;
    }
  }
  .article{
    display:flex;
    margin: 20px;
    flex-direction:column;
    background-color: #fff;
    text-align:left;
    .imageArea{
      align-self:center;
      height: 400px;
      width: 400px;
      heigh:auto;
      background-size:cover;
      margin: 20px;
    }
    .titleArea{
      margin: 20px;
    }
    .infoArea{
      margin: 20px;
    }
    .descriptArea{
      margin: 20px;
    }
  }

  .article:hover{
    border-style:solid;
    border-color:orange;
  }
  background-image:url(../assets/bg.jpg);
}